.banner-nivel {
    background: linear-gradient(90deg,#a90f90 55%,#0c1a51);
    color: $color-white;
    padding: 16px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .banner-nivel__titulo {
        font-weight: 500;
        font-size: ($font-big - 4px);

        @include mq-md {
            font-size: $font-big;
            border-radius: 6px;
        }
    }
    .banner-nivel__antes {
        font-size: $font-normal;
        font-weight: 400;
        text-decoration: line-through;
    }
    .banner-nivel__despues {
        font-size: $font-big;
        font-weight: 400;
        
        & span {
            font-size: $font-normal;
        }
    }
}