.card-compras {
    @include card-ml;

    .card-compras__fecha {
        border-bottom: 1px solid rgba(0, 0, 0, .1);

        p {
            font-size: $font-normal;
            font-weight: 600;
            color: $color-black-2;
        }
    }
    .card-compras__id,
    .card-compras__nombre,
    .card-compras__cantidad {
        color: $color-gray-2;
        font-size: $font-normal;
        font-weight: 400;
    }
    .card-compras__precio {
        color: $color-black-2;
        font-size: ($font-normal + 2px);
        font-weight: 600;
    }
    .btn__ver-compra {
        background-color: $color-blue;
        color: $color-white;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        border-radius: 5px;
        font-size: $font-normal;
        font-weight: 600;

        &:hover {
            border: 1px solid $color-blue;
            color: $color-blue;
        }
    }
}